* {
  font-family: Arial, Helvetica, sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]::placeholder {
  text-align: left;
  padding-left: 5px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.green {
  animation: blink 0.6s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}
.shimmer{
    width: 250px;
    height: 310px;
    margin: 10px;
    border-radius: 5px;
    background-color: lightgray;
    animation-name: shimmer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes shimmer{
    0%{
        background-color: lightgray;
    }
    100%{
        background-color: whitesmoke;
    }
}
Link{
  text-decoration: none;
  color: black;
}

.accordion-header {
  cursor: pointer;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
}
